<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/account_blog.css">
    <title>自己紹介</title>
</head>

<body>
    <header>
        <h1>自己紹介</h1>
        <nav>
            <ul class="button-list">
                <li><a class="button" href="account_blog.html">ホーム</a></li>
                <li><a class="button" href="account_catagrory.html">カテゴリー</a></li>
                <li><a class="button" href="account_introduction.html">自己紹介</a></li>
            </ul>
            <div>
                <form class="search-form" action="/search" method="GET">
                    <input type="text" name="query" placeholder="このブログを検索する">
                    <button type="submit">クリック ❤</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <section class="introduction">
            <h2>自己紹介</h2>
            <p>こんにちは！私は〇〇です。趣味は〇〇で、興味を持っていることは〇〇です。このブログでは〇〇について書いています。</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 JUTTA. All rights reserved.</p>
    </footer>
</body>

</html>