<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/account_blog.css}">
    <title>ブログ</title>
</head>

<body>
    <header>
        <h1><a href="account_register.html"
                style="text-decoration: none; color: #fff; transition: color 0.3s ease;">ブログ</a></h1>
        <nav>
            <ul class="button-list">
                <li><a class="button" href="account_blog.html">ホーム</a></li>
                <li><a class="button" href="account_catagrory.html">カテゴリー</a></li>
                <li><a class="button" href="account_introduction.html">自己紹介</a></li>
            </ul>

            <dev>
                <form class="search-form" th:action="@{/search}" method="GET">
                    <input type="text" name="query" placeholder="このブログを検索する">
                    <button type="submit">クリック ❤</button>
                </form>
            </dev>
        </nav>
    </header>
    <main>
        <article>
            <h2>11111111111111</h2>
            <p>222222222222222222222222222222222222222222222222222222222222222222222222222</p>
        </article>
    </main>
    <footer>
        <p>&copy; 2023 JUTTA. All rights reserved.</p>
        <!-- <p>访问次数：<span th:text="${visitCount}"></span></p> -->
        <p>訪問回数：<span id="visitCount">読み込み中...</span></p>

        <script>
            // 訪問回数JS
            function updateVisitCount() {
                let visitCount = localStorage.getItem('visitCount');
                if (visitCount === null) {
                    visitCount = 1;
                } else {
                    visitCount = parseInt(visitCount) + 1;
                }

                localStorage.setItem('visitCount', visitCount);
                const visitCountElement = document.getElementById('visitCount');
                visitCountElement.textContent = visitCount;
            }

            // ブラウザの local ストレージ に保存
            window.onload = updateVisitCount;
        </script>

    </footer>


</body>


</html>