<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <header>
        <div>
            <h1>Register</h1>
        </div>
    </header>
    <main>
        <form th:action="@{/register/process}" method="post">
            <div class="user_login_form">
                <div class="form_row">
                    <label for="studentName">ユーザー名</label>
                    <input type="text" id="studentName" name="studentName" required>
                </div>
                <div class="form_row">
                    <label for="studentEmail">メールアドレス</label>
                    <input type="text" id="studentEmail" name="studentEmail" required>
                </div>
                <div class="form_row">
                    <label for="studentPassword">パスワード</label>
                    <input type="password" id="studentPassword" name="studentPassword" required>
                </div>
                <div class="form_row">
                    <button type="submit">登録</button>
                </div>
              
            </div>
        </form>
        <button class="user_login_btn signup_btn">Loginはこちら</button>
    </main>
    <footer>
        <small>Copyright &copy;hhhhhhhhhhha.</small>
    </footer>
</body>

</html>